
    <h1><%= title %></h1>
    <hr/>
    <ul>
      <% for(var i = 0; i < steps.length; i ++) { %>
	    <% if(i !=5){%>
			<% if(i%2 == 0) {%>
			  <li class="bg_lightBlue"> <%= steps[i] %> </li>
			<% }else{ %>
			  <li> <%= steps[i] %> </li>
	    <% }}else{ %>
		<li> <%= link_to(steps[i],'steps/'+i)%> </li>
      <% }}%>
    </ul>
	<div class="right">
	  <div class="imag_label"><%= imgLabel %></div>
	  <hr/>
	  <div class="img_div">
	    <%= img_tag("images/girl001.jpg")%>
	  </div>
	</div>